@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply font globally */
body {
  font-family: 'Poppins', sans-serif;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
@keyframes float-rev {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
.animate-float-rev {
  animation: float-rev 6s ease-in-out infinite;
}
